<!DOCTYPE html>
<html>

<head>
  <title>Register</title>
  <link rel="stylesheet" href="/styles/register.css">
</head>

<body>
  <h1>Welcome to magical chat !</h1>
  <form method="POST" action="/register">
    <button type="submit">Start a chatroom</button>
  </form>

  <script>

    var body = document.getElementsByTagName('body')[0];

    getRandomInt = (min, max) => min + Math.floor(Math.random() * (max - min + 1));

    getRandomColor = function () {
      var R = getRandomInt(0, 255);
      var G = getRandomInt(0, 255);
      var B = getRandomInt(0, 255);
      return (`rgb(${R},${G},${B})`);
    }

    window.onload = function () {
      setInterval(function () {
        body.setAttribute('style', `background-color: ${getRandomColor()}`);
      }, 5000);
    }
  </script>
</body>

</html>