body {
  margin: 0;
  padding-bottom: 3rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

body *{
  box-sizing: border-box;
  font-size: 2rem;
}

#form,
#form2 {
  background: rgba(0, 0, 0, 0.15);
  padding: 0.25rem;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  height: 10vh;
  backdrop-filter: blur(10px);
}

#form2 {
  top: 0;
}

#input,
#input2 {
  border: none;
  padding: 0 1rem;
  flex-grow: 1;
  border-radius: 2rem;
  margin: 0.25rem;
}

#input,
#input2 {
  border: none;
  padding: 0 1rem;
  flex-grow: 1;
  border-radius: 2rem;
  margin: 0.25rem;
}


#input:focus,
#input2:focus {
  outline: none;
}

#form>button,
#form2>button {
  background: #333;
  border: none;
  padding: 0 1rem;
  margin: 0.25rem;
  border-radius: 3px;
  outline: none;
  color: #fff;
}

#form>button:hover {
  background: rgb(68, 66, 66);
}

#messages {
  list-style-type: none;
  margin-top: 10vh;
  margin-bottom: 10vh;
  padding: 0;
}

#messages>li {
  padding: 0.5rem 1rem;
}

#messages>li:nth-child(odd) {
  background: #efefef;
}
